<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/img/weather.png">
    
    <title> The Weather </title>
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p> Type in a location. Get the fucking weather. </p>
        <form>
            <input placeholder="Type in a fucking location">
            <button>Fucking search</button>
        </form>
        
        <p id="messageOne"></p>
        <h1 id="messageTwo"></h1>
    </div>
    {{>footer}}
    <script src="/js/app.js"></script>
</body>

</html>